*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:100%;
    min-height: 100%;
    position: absolute;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
   
}
.bottom{
  
    display: flex;
    flex-direction: row;
    font-size:1rem;
    position: relative;
}
input{
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
}
button{
    height: 2rem;
    width: 6rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
}
#forgot{
    position: absolute;
    left: 12rem;
}

